.contact-body{
    justify-content: center;
    padding-top: 4em;
    
}
.contact-grid{
    text-align: center;
    

}
.contact-grid h1{
    font-family: 'Anton', sans-serif;
    color: black;
}
.contact-grid p{
    font-family: 'oxygen', sans-serif;
    font-weight: bold;
}
.contact-grid hr{
    border-top: 5px dotted black;
    width: 50%;
    margin: auto;
}
.contact-list i{
    font-size: 66px;
    padding-right: 3rem;
}
.contact-list{
    margin-top: 8em;
    display: block;
    
}