

.projects-grid{
display: 'flex';

}
.projects-text{
    text-align: justify;
}
.project-link a{
text-decoration: none;
color: blue;

}
.category-tabs{
    margin-top: 60px;
    position: relative;
}
